doctype html
html
    head
        meta(charset="UTF-8")
        title Library Manager
        link(rel="stylesheet", href="/styles.css")
        link(rel="icon", href="/favicon.ico")
    body(class="library-page")
        block content