.library-page {
    background-image: url('./images/library.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
    color: white;
    font-family: Arial, sans-serif;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: black;
    color: white;
}

th, td {
    border: 1px solid white;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f4f4f4;
    font-weight: bold;
}

td {
    background-color: #fff;
}

.book-button {
    background: none;
    border: none;
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}

.book-button:hover {
    color: darkblue;
}

.filter-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 18px;
    border: 2px solid black;
    background-color: #040101;
    color: #fafafa;
    text-decoration: none;
    margin-top: 20px;
    cursor: pointer;
}


.add-book-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 18px;
    background-color: #040101;
    color: #fafafa;
    text-decoration: none;
    margin-top: 20px;
    cursor: pointer;
    border: 2px solid white;
    border-radius: 5px;
}

.add-book-button:hover {
    background-color: #333;
}

@media(max-width: 800px) {

}
